<div class="login-container">
  <mat-card class="mat-card-login">
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" >
      <div class="form" class="login-content">
        <mat-form-field color="primary">
          <input
            #input
            class="form-control"
            formControlName="username"
            matInput
            placeholder="Username"
            required
          />

        </mat-form-field>

        <mat-form-field
          appearance="legacy"
          class="descriptive"
          color="primary"
        >
        <textarea
          #input
          class="form-control"
          formControlName="password"
          matInput
          placeholder="Password"
          required
        ></textarea>
        </mat-form-field>
      </div>
    </form>
    <button (click)="loginUser()" mat-raised-button color="primary">Login</button>
  </mat-card>
</div>

