<div class="edit-container">
  <mat-card class="mat-card-edit">
    <mat-card-title>Add Device</mat-card-title>
    <div class="edit-content">
      <form [formGroup]="addForm" >
        <div class="form">
          <mat-form-field color="primary">
            <input
              #input
              class="form-control"
              formControlName="description"
              matInput
              placeholder="Description"
              required
            />

          </mat-form-field>

          <mat-form-field
            appearance="legacy"
            class="descriptive"
            color="primary"
          >
        <textarea
          #input
          class="form-control"
          formControlName="location"
          matInput
          placeholder="Location"
          required
        ></textarea>
          </mat-form-field>

          <mat-form-field color="primary">
            <input
              #input
              class="form-control"
              formControlName="maximumconsumption"
              matInput
              placeholder="Maximum Consumption"
              required
            />
          </mat-form-field>
        </div>
      </form>
      <div class="buttons">
        <button (click)="onNoClick()" mat-raised-button color="primary">Close</button>
        <button (click)="saveDevice()" mat-raised-button color="primary">Save</button>
      </div>
    </div>
  </mat-card>
</div>

